# Firecrawl - get key at https://firecrawl.dev

FIRECRAWL_API_KEY=fc-60338511b6a64d22913ef93761056681

# OpenAI - get key at https://platform.openai.com/api-keys
OPENAI_API_KEY=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

# Retell AI - get key at https://app.retellai.com/
RETELL_API_KEY=key_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
